*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 32px;
  font-family: "Inter", sans-serif;
}

img {
  width: 100%;
  max-width: 100%;
}

body {
  background: url(../images/pattern-curve.svg) bottom left no-repeat;
  min-height: 100%;
  background-size: 80%;
}

.container {
  width: 90%;
  max-width: 375px;
  margin: 1rem auto 2.5rem auto;
}
.container .testimonial {
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.container .testimonial .testimonial__img {
  background: url(../images/pattern-bg.svg) center no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}
.container .testimonial .testimonial__img .testimonial__people {
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  padding-top: 1rem;
}
.container .testimonial .testimonial__img .testimonial__people img {
  box-shadow: 0 20px 20px #babacf;
}
.container .testimonial .testimonial__img .testimonial__btn {
  max-width: 25%;
  display: flex;
  background-color: white;
  margin: auto;
  border-radius: 2rem;
  position: relative;
  top: -20px;
  padding: 3px 0px;
}
.container .testimonial .testimonial__img .testimonial__btn .testimonial__prev {
  margin: auto;
  outline: none;
  border: none;
}
.container .testimonial .testimonial__img .testimonial__btn .testimonial__prev #prev {
  outline: none;
  border: none;
  cursor: pointer;
  transition: transform 1s;
  -webkit-transition: transform 1s;
}
.container .testimonial .testimonial__img .testimonial__btn .testimonial__prev #prev:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
.container .testimonial .testimonial__img .testimonial__btn .testimonial__next {
  margin: auto;
}
.container .testimonial .testimonial__img .testimonial__btn .testimonial__next #next {
  outline: none;
  border: none;
  cursor: pointer;
  transition: transform 1s;
  -webkit-transition: transform 1s;
}
.container .testimonial .testimonial__img .testimonial__btn .testimonial__next #next:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
.container .testimonial .testimonial__quote {
  marggin-top: 20px;
  background: url(../images/pattern-quotes.svg) left no-repeat;
  background-size: 20%;
  background-position: top;
}
.container .testimonial .testimonial__quote p {
  padding-top: 1rem;
  font-weight: 500;
  font-size: 0.55rem;
  text-align: center;
  opacity: 0.7;
}
.container .testimonial .testimonial__quote footer {
  margin-top: 1rem;
  font-size: 0.5rem;
  text-align: center;
}
.container .testimonial .testimonial__quote footer .name {
  font-weight: 700;
}
.container .testimonial .testimonial__quote footer .profession {
  font-weight: 700;
  color: #babacf;
}

@media only screen and (min-width: 768px) {
  body{
    background-size: 50%;
    min-height: 100vh;
  }
  .container {
    position: relative;
    width: 90%;
    max-width: 1440px;
    margin: 1rem auto;
  }
  .container .testimonial .testimonial__img {
    background-image: url(../images/pattern-bg.svg) center no-repeat;
    max-width: 60%;
    float: right;
    z-index: -1;
  }
  .container .testimonial .testimonial__img .testimonial__people {
    max-width: 80%;
    margin-top: 1rem;
  }
  .container .testimonial .testimonial__img .testimonial__btn {
    max-width: 17%;
    margin-left: 3rem;
    display: flex;
    padding: 3px 0px;
  }
  .container .testimonial .testimonial__img .testimonial__btn .testimonial__prev {
    margin: auto;
  }
  .container .testimonial .testimonial__img .testimonial__btn .testimonial__next {
    margin: auto;
  }
  .container .testimonial .testimonial__quote {
    background-size: 20%;
    background-position: 3rem top;
    float: left;
    max-width: 50%;
    position: absolute;
    left: 1rem;
    top: 5rem;
  }
  .container .testimonial .testimonial__quote p {
    font-weight: 300;
    line-height: 1.2;
    font-size: 0.7rem;
    text-align: left;
    opacity: 1;
  }
  .container .testimonial .testimonial__quote footer {
    display: flex;
    flex-direction: row;
    font-size: 0.5rem;
  }
  .container .testimonial .testimonial__quote footer .name {
    padding-right: 5px;
  }
}
@media only screen and (min-width: 990px) {
  body{
    background-size: 50%;
  }
  .container {
    position: relative;
    width: 90%;
    max-width: 1440px;
    margin: 1rem auto;
  }
  .container .testimonial .testimonial__img {
    background-image: url(../images/pattern-bg.svg) center no-repeat;
    background-size: 85%;
    float: right;
    z-index: -1;
  }
  .container .testimonial .testimonial__img .testimonial__people {
    max-width: 65%;
    margin-top: 1rem;
  }
  .container .testimonial .testimonial__img .testimonial__btn {
    max-width: 15%;
    margin-left: 6rem;
    display: flex;
    padding: 3px 0px;
  }
  .container .testimonial .testimonial__img .testimonial__btn .testimonial__prev {
    margin: auto;
  }
  .container .testimonial .testimonial__img .testimonial__btn .testimonial__next {
    margin: auto;
  }
  .container .testimonial .testimonial__quote {
    background-size: 12%;
    background-position: 3rem top;
    float: left;
    max-width: 50%;
    position: absolute;
    left: 3rem;
    top: 5rem;
  }
  .container .testimonial .testimonial__quote p {
     font-weight: 300;
    line-height: 1.2;
    font-size: 0.8rem;
    text-align: left;
    opacity: 1;
  }
  .container .testimonial .testimonial__quote footer {
    display: flex;
    flex-direction: row;
    font-size: 0.6rem;
  }
  .container .testimonial .testimonial__quote footer .name {
    padding-right: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
